$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$layout-md__padding-left: 15px;
$layout-md__padding-right: 15px;

$layout-sm__padding-left: 10px;
$layout-sm__padding-right: 10px;
