$icon-font: $font__family-icons;
$icon-font__size: 2rem;
$icon-font__color: $color-surface;
$icon-font__color-hover: $color-surface;
$icon-font__before-margin: 0 3px 0 0;
$icon-font__after-margin: 0 0 0 3px;
$icon-font__position: before;
$icon-font__text-hide: false;
$icon-font__display: flex;

$icon-traffic-light: "\e916";
$icon-times-circle: "\e91c";
$icon-sad-squint: "\e939";
$icon-info-circle: "\e961";
$icon-bell: "\e9bc";
$icon-arrow-circle-left: "\e9c5";
$icon-wrench: "\e9d3";
$icon-user-square: "\ea09";
$icon-spinner-alt: "\ea64";
$icon-smile: "\ea70";
$icon-search-plus: "\eaa7";
$icon-search-minus: "\eaa8";
$icon-map-marker: "\eb40";
$icon-map-marker-question: "\eb43";
$icon-map-marker-info: "\eb45";
$icon-import: "\eb8b";
$icon-crosshair: "\ec79";
$icon-constructor: "\ec8f";
$icon-clock-three: "\ecf0";
$icon-car-sideview: "\ed11";

