$color-black-900: #000000;
$color-black-300: #393939;
$color-black-100: #7d7d7d;
$color-white-500: #fbfbfa;
$color-white-800: #e6e6e6;
$color-white-900: #ffffff;

$color-purple-500: #6200EE;
$color-purple-900: #3700B3;

$color-cyaan-500: #03DAC6;
$color-cyaan-900: #018786;

$color-surface: $color-white-900;
$color-on-surface: $color-black-100;

$color-surface-secondary: $color-black-900;

$color-primary-light: $color-purple-500;
$color-primary-dark: $color-purple-900;

$color-secondary-light: $color-cyaan-500;
$color-secondary-dark: $color-cyaan-900;

$color-primary-text: $color-white-900;
$color-secondary-text: $color-white-900;